* {
  font-family: 'Roboto', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #222631;
}

#header {
  background-color: #fff;
  padding: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#header p {
  font-size: 2em;
  margin-left: 15px;
}

#tstk-main-logo {
  width: 350px;
}

#main-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

#main-container-wrapper {
  height: 70%;
  width: 70%;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  padding: 40px;
  justify-content: center;
}

#main-container-elements {
  height: 95%;
  overflow: auto;
  background-color: #ddd;
  margin: 10px 0px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}



#main-container-elements div {
  font-size: 15px;
  background-color: #fff;
  padding: 17px;
  height: 20px;
  width: 70px;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  position: relative;
}

#main-container-elements div span {
  left: 0px;
  width: 100%;
  top: 5px;
  position: absolute;
}


#main-container-computed-wrapper {
  border-radius: 50px;
  background-color: #3badbc;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #fff;
  padding-top: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

#main-container-computed-wrapper:hover {
  background-color: #9de2eb;
  transition: all 0.5s;
}

#workShopSlider {
  width: 95%;
}

#workShopSlider .carousel-control-prev {
  left: -10%;
}

#workShopSlider .carousel-control-prev span {
  background-color: #222631;
}

#workShopSlider .carousel-control-next {
  right: -10%;
}

#workShopSlider .carousel-control-next span {
  background-color: #222631;
}

#workShopSlider .carousel-indicators {
  margin-bottom: -20px;
}

#workShopSlider .carousel-indicators button {
  background-color: #222631;
}



.algorithm-execution-time {
  background-color: #222631 !important;
}

pre {
  margin-top: 15px;
  font-size: 1.1em;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item .container {
  height: 100%;
}

.with-divider .row {
  height: 95%;
}


.with-divider .col:nth-child(1) {
  border-right: 2px solid #222631;
}

#questions-img {
  margin: 0 auto;
  width: 650px;
  border-radius: 50px;
  text-align: center;
}

#questions-img-container {
  text-align: center;
}

#main-container-elements-row {
  height: 70%;
}

.algorithm-success-mark {
  text-align: center;
}

.algorithm-success-mark p {
  font-size: 8em;
  padding-top: 50px;
}