* {
    font-family: 'Roboto', sans-serif;    
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #222631;
}

#header {
    background-color: #fff;
    padding: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#header p {
    font-size: 2em;
    margin-left: 15px;
}

#tstk-main-logo {
    width: 350px;
}

#main-container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

#main-container-wrapper {
    height: 70%;
    width: 70%;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    padding: 40px;
    justify-content: center;
}

#main-container-elements{
    height: 95%;
    overflow: auto;
    background-color: #ddd;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    flex-direction: row;    
}



#main-container-elements div{           
    font-size: 15px;
    background-color: #fff;
    padding: 17px;
    height: 20px;
    width: 70px;
    border-radius: 5px;       
    text-align: center;
    margin: 5px;
    position: relative;
}
#main-container-elements div span{           
    left: 0px;
    width: 100%;
    top: 5px;
    position: absolute;
}


#main-container-computed-wrapper{
    border-radius: 50px;
    background-color: #3badbc;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-top: 15px;
    cursor: pointer;
    transition: all 0.5s;
}

#main-container-computed-wrapper:hover{
    background-color: #9de2eb;
    transition: all 0.5s;
}

#workShopSlider{
    width: 95%;
}

#workShopSlider .carousel-control-prev{
    left: -10%;    
}
#workShopSlider .carousel-control-prev span{
    background-color: #222631;
}

#workShopSlider .carousel-control-next{
    right: -10%;    
}
#workShopSlider .carousel-control-next span{
    background-color: #222631;
}

#workShopSlider .carousel-indicators{
    margin-bottom: -20px;
}
#workShopSlider .carousel-indicators button{
    background-color: #222631;
}



.algorithm-execution-time{
    background-color: #222631 !important;
}

pre{
    margin-top: 15px;
    font-size: 1.1em;
}

    
 .success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    margin-top: 10%;
  }
  .success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
  }
  .success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
  }
  .success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
  }
  .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: "";
    height: 100px;
    position: absolute;
    background: #FFFFFF;
    transform: rotate(-45deg);
  }
  .success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
  }
  .success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
  }
  .success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
  }
  .success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, 0.5);
  }
  .success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #FFFFFF;
  }
  
  @keyframes rotate-circle {
    0% {
      transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  @keyframes icon-line-tip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  @keyframes icon-line-long {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }

  .carousel{
    height: 100%;
  }
  .carousel-inner{
    height: 100%;
  }
  .carousel-item{
    height: 100%;
  }

  .carousel-item .container{
    height: 100%;
  }
  .with-divider .row{
    height: 95%;
  }


  .with-divider .col:nth-child(1){
    border-right: 2px solid #222631;
  }

  #questions-img{
    margin: 0 auto;
    width: 650px;    
    border-radius: 50px;
    text-align: center;
  }

  #questions-img-container{
    text-align: center;
  }

  #main-container-elements-row{
    height: 70%;
  }